mixin menu 
    .menu&attributes(attributes)
        a.menu-icon(href="#") #[i]#[i]#[i]#[i]
        .menu-drop(data-uk-dropdown="mode: click; pos: bottom-justify; boundary: .header; boundary-align: true; animation: uk-animation-slide-top-small; duration: 300")
            ul 
                li
                    a(href="#products" data-uk-scroll="offset: 50") produkte
                li
                    a(href="#products" data-uk-scroll) produkte
                li
                    a(href="#products" data-uk-scroll) produkte
                li
                    a(href="#products" data-uk-scroll) produkte