//- mode - development / production

//- Links 

- var phoneLink = "tel:84955553575"
- var phoneNumber = "8 495 555-35-75"
- var mailAdress = "ps@getfaster.io"
- var privacyLink = "/privacy-policy.pdf"


//- social
- var gpLink = "https://play.google.com/store/apps/details?id=io.getfaster.app&hl=de&gl=VG&utm_source=getfasterme&utm_campaign=landing&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"
- var asLink = "https://apple.co/3eOnx4O"
- var vkLink = "#"
- var instLink = "https://www.instagram.com/getfaster_de/"
- var fbLink = "https://www.facebook.com/getfaster.de/"
- var tgLink = "#"

//- image placeholder
- var ipl = "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
//- image paths
- var assets = "./assets/images/"
- var modules = `/modules/images/`
- var assetsIco = "./assets/images/icons/"
- var modulesIco = `/modules/images/icons/`
//- file paths
- var stylesPath = `./assets/styles/main.min.css`
- var scriptsPath = `./assets/scripts/main.min.js`

//- grid breakpoints
- var sm = 420
- var md = 768
- var lg = 1230

//- colors 

//- iconset


