
.header{
  background: #fbfbfb;
  &.uk-active {
    box-shadow: 1px 2px 4px rgba(0,0,0, 0.2);
  }
  &__inner{
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo{}
  .logo{
    img {
      height: 2.75rem;
      width: 12.5rem;
    }
  }
  &__link{
    display: none;
  }
  &__info {
    display: none;
  }
  &__info-time{
    @extend %gil-600;
  }
}
@media (min-width: map-get($grid-breakpoints, lg)) {
  .header{
    box-shadow: unset;
    &__inner{
      padding-top: 2.5rem;
      padding-bottom: 3.75rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__logo{
      display: flex;
      align-items: center;
    }
    .logo{
      img {
        width: unset;
      }
      margin-right: 5.625rem;
    }
    &__link{
      display: inline;
      padding-top: 0.3125rem;
      color: $accent;
      text-decoration: underline;
      font-size: 1.125rem;
    }
    &__info {
      line-height: 1em;
      display: block;
    }
    &__info-text{
      font-size: 1.25rem;
      position: relative;
      padding-left: 1.625rem;
      margin-bottom: 0.3125rem;
      &::before{
        content: '';
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: $accent;
        left: 0.625rem;
        top: 0.4375rem;
      }
    }
    &__info-time{}
  }
}

.phone{
  padding-top: 1rem;
  &__inner{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  &__content{
    position: relative;
    max-width: 47.5rem;
    display: flex;
    flex-direction: column;
  }
  &__title{
    @extend %pop-600;
    font-size: 2.0625rem;
    max-width: 100%;
    line-height: 2.625rem;
    margin-bottom: 0.625rem;
  }
  &__title-sale{
    order: 2;
    position: static;
    top: 5rem;
    right: -35px;
    background-image: none;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1.875rem;
  }
  &__title-sale-text{
    padding-left: 0;
    font-size: 1.125rem;
    line-height: 1.625rem;
    color: #2e2e2e;
    @extend %gil-700;
  }
  &__text{
    font-size: 1.125rem;
    line-height: 1.625rem;
    margin-bottom: 1.5625rem;
    order:1;
  }
  &__app{
    height: 3.75rem;
    order: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 3.125rem;
    position: relative;
  }
  &__app-text{
    display: none;
  }
  &__app-load{
    position: absolute;
    top: 0;
    left: 0;
    &:not(:nth-child(2)){
      padding-left: 0;
    }
  }
  &__shop{
    max-width: 19.375rem;
    height: 41.25rem;
  }
  &__shop-frame{
    position: relative;
    flex-shrink: 0;
    left: 0;
    width: 33.75rem;
    height: 53.75rem;
  }
  .phone-frame{
    position: absolute;
    height: auto;
    width: 33.75rem;
    z-index: 3;
    left: -5rem;
    top: -5rem;
  }
  .phone-screen{
    position: absolute;
    object-fit: cover;
    height: auto;
    z-index: 4;
    width: 16.875rem;
    left: 1.5rem;
    top: 0.9375rem;
  }
  &-video {
    border-radius: 1.5rem;
    width: 16.875rem;
    height: auto;
    position: absolute;
    left: 1.5rem;
    top: 0.9375rem;
    z-index: 5;
  }
}
@media (min-width: map-get($grid-breakpoints, lg)) {
  .phone{
    padding-top: 0;
    &__inner{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &__content{
      position: relative;
      max-width: 47.5rem;
      display: block;
    }
    &__title{
      font-size: 3.75rem;
      max-width: 37.5rem;
      line-height: 4.875rem;
      margin-bottom: 1.875rem;
    }
    &__title-sale{
      position: absolute;
      top: 5rem;
      right: -35px;
      background-image: url('../images/phone/title-sale.png');
      background-repeat: no-repeat;
      height: 5rem;
      width: 12.8125rem;
      display: flex;
      align-items: center;
      margin-bottom: 0;
    }
    &__title-sale-text{
      padding-left: 1.6875rem;
      font-size: 1.125rem;
      line-height: 1.625rem;
      color: #fff;
    }
    &__text{
      font-size: 1.875rem;
      line-height: 2.625rem;
      margin-bottom: 1.5625rem;
    }
    &__app{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 6.875rem;
    }
    &__app-text{
      display: block;
      position: relative;
      padding-left: 2.75rem;
      padding-right: 2.5rem;
      p{
        font-size: 1.375rem;
        line-height: 2rem;
      }
      p:last-child{}
      &::before{
        content: '';
        position: absolute;
        background-image: url('../images/icons/cloud.png');
        background-repeat: no-repeat;
        width: 1.5rem;
        height: 1.5rem;
        left: 0;
        top: 1.25rem;
      }
    }
    &__app-load{
      position: relative;
      top: unset;
      left: unset;
      &:not(:nth-child(2)){
        padding-left: 1.25rem;
      }
    }
    &__shop{
      max-width: 19.375rem;
      height: 10px;
    }
    &__shop-frame{
      position: relative;
      flex-shrink: 0;
      left: 0;
      width: 33.75rem;
      height: 53.75rem;
    }
    .phone-frame{
      left: -90px;
      top: -80px;
    }
    .phone-screen{
      left: 1rem;
    }
    &-video {
      left: 1rem;
    }
  }
}

.advantages{
  .container{
    padding-right: 0;
  }
  &__title{
    font-size: 1.9375rem;
    line-height: 2.625rem;
    margin-bottom: 1.875rem;
    max-width: 20rem;
  }
  &__subtitle{
    display: none;
  }
  &__items{
    display: flex;
  }
  &__item{
    max-width: 15.25rem;
    position: relative;
    margin-right: 5rem;
    &::after{
      display: none;
    }
    
    &:last-child::after{
      display: none;
    }
  }
  &__item-num{
    font-size: 4.6875rem;
    line-height: 3.75rem;
    color: $accent;
    @extend %pop-500;
    margin-bottom: 1.25rem;
    display: block;
  }
  &__item-title{
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-bottom: 0.625rem;
    max-width: 13.125rem; 
    @extend %gil-700;
  }
  &__item-text{
    font-size: 1.125rem;
    line-height: 1.625rem;
  }
}
@media (min-width: map-get($grid-breakpoints, lg)) {
  .advantages{
    background-image: url('../images/berry.png');
    background-repeat: no-repeat;
    background-position: right 200px bottom 50px;
    .container{
      padding-right: 30px;
    }
    &__title{
      margin-bottom: 1.25rem;
      max-width: 45rem;
      font-size: 3.75rem;
      line-height: 4.75rem;
    }
    &__subtitle{
      font-size: 1.625rem;
      line-height: 2.25rem;
      margin-bottom: 2.1875rem;
      display: block;
    }
    &__items{
      display: flex;
      
    }
    &__item{
      max-width: 16.25rem;
      position: relative;
      margin-right: 0;
      &::after{
        content: '';
        display: block;
        position: absolute;
        width: 5.75rem;
        height: 1px;
        background-color: #dbdbdb;
        top: 1.75rem;
        right: -0.75rem;
      }
      &:not(:last-child){
        margin-right: 150px;
      }
      &:last-child::after{
        display: none;
      }
    }
    &__item-num{
      font-size: 4.6875rem;
      line-height: 3.75rem;
      color: $accent;
      margin-bottom: 1.25rem;
      display: block;
    }
    &__item-title{
      font-size: 1.25rem;
      line-height: 1.5rem;
      margin-bottom: 0.625rem;
      max-width: 13.125rem; 
    }
    &__item-text{
      font-size: 1.125rem;
      line-height: 1.625rem;
    }
  }
}

.info{
  padding-bottom: 4.375rem;
  padding-top: 4.375rem;
  position: relative;
  &__bottle-decor{
    display: none;
  }
  &__items{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  &__item-items{
    width: 23.125rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__item{
    width: 20rem;
    height: 17.625rem; 
    padding-top: 1.875rem;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    color: #2e2e2e;
    margin-bottom: 1.25rem;
  }
  &__item-small{
    position: relative;
    display: block;
    border-radius: 10px;
    background-color: #fff;
    height: 7.875rem;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-image: url('../images/info/price.png');
    background-position: bottom -15px right 15px;
    margin-bottom: 1.25rem;
    &:last-child{
      background-image: url('../images/info/security.png');
      
    }
  }
  &__link{
    position: absolute;
    top: 1.875rem;
    right: 2.625rem;
    bottom: unset;
    background-color: #fff;
  }
  &__item--pig{
    background-position: center bottom;
    background-image: url('../images/info/pig.png');
  }
  &__item--cycle{
    background-position: center bottom;
    background-image: url('../images/info/cycle.png');
  }
  &__item-title{
    font-size: 1.625rem;
    line-height: 2.375rem;
    @extend %gil-600;
    max-width: 100%;
    padding-left: 1.5625rem; 
    text-transform: uppercase;
  }
}

@media (min-width: map-get($grid-breakpoints, lg)){
  .info{
    padding-bottom: 6.25rem;
    padding-top: 7.5rem;
    position: relative;
    &__bottle-decor{
      position: absolute;
      top: -230px;
      left: 0;
      z-index: -4;
    }
    &__items{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &__item-items{
      width: 23.125rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &__item{
      width: 21.25rem;
      height: 17.625rem; 
      padding-top: 1.875rem;
      background-color: #fff;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      background-repeat: no-repeat;
      color: #2e2e2e;
      margin-bottom: 0;
    }
    &__item-small{
      position: relative;
      display: block;
      border-radius: 10px;
      background-color: #fff;
      height: 7.875rem;
      width: 23.125rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url('../images/info/price.png');
      background-position: bottom 0px right 0px;
      margin-bottom: 0;
      &:last-child{
        background-image: url('../images/info/security.png');
      }
    }
    &__link{
      position: absolute;
      top: unset;
      right: 2.625rem;
      bottom: 2.0625rem;
      background-color: #fff;
    }
    &__item--pig{
      background-position: center bottom;
      background-image: url('../images/info/pig.png');
    }
    &__item--cycle{
      background-position: center bottom;
      background-image: url('../images/info/cycle.png');
    }
    &__item-title{
      font-size: 1.625rem;
      line-height: 2.375rem;
      max-width: 15.625rem; 
      padding-left: 0;
    }
  }
}

@media (max-width: 1700px){
  .info{
    &__bottle-decor{
      top: 0;
    }
  }
  .advantages{
    background-position: right 0 bottom 50px;
  }
}

.products{
  padding-bottom: 3.75rem;
  &__title{
    padding-left: 1.875rem;
    padding-right: 0.9375rem;
    text-align: left;
    font-size: 2rem;
    margin: 0 auto 3.75rem;
    max-width: 100%;
    line-height: 2.875rem;
  }
  &__items{
    position: relative;
    margin-bottom: 3.125rem;
  }
  &__items-top{
    overflow: visible;
    width: 100%;
    padding-bottom: 23px;
  }
  &__items-bottom{
    overflow: visible;
    width: 100%;
    position: relative;
    left: -100px;
  }
  &__item{
    user-select: none;
    display: block;
    margin-right: 1.875rem;
  }
  &__buttons{
    @include flex-center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  &__btn{
    @extend %btn;
    padding: 0.3125rem 1.5625rem;
    display: block;
    font-size: 1.0625rem;
    border-radius: 0.3125rem;
  }
  &__buttons-item{
    margin-bottom: 1.25rem;
    &:not(:last-child){
      margin-right: 0.625rem;
    }
  }
  &__item{
    position: relative;
    width: 6.75rem;
    height: 6.75rem;
    background-color: #fff;
    box-shadow: 0px 34px 81px 0px rgba(149, 149, 149, 0.08);
    border-radius: 10px;
  }
  &__item-content{
    padding-top: 0.625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .blueberries-item{
    &::after,
    &::before{
      content: '';
      position: absolute;
      right: 0.9375rem;
      top: 0.6875rem;
      background-image: url('../images/products/vegan.png');
      background-repeat: no-repeat;
      width: 1.9375rem;
      height: 1.1875rem;
    }
    &::after{
      background-image: url('../images/products/gluten.png');
      top: 1.9375rem;
      width: 1.5625rem;
      height: 1.5625rem;
    }
  }
  .yogurt-item{
    &::after{
      content: '';
      position: absolute;
      width: 1.625rem;
      height: 1.625rem;
      right: 0.8125rem;
      top: 0.5625rem;
      background-image: url('../images/products/dairy.png');
    }
  }
  .bio-item{
    &::after{
      content: '';
      position: absolute;
      width: 2rem;
      height: 1.75rem;
      background-image: url('../images/products/bio.png');
      right:0.625rem;
      top: 0.625rem;
    }
  }
  &__item-image{
    max-width: 3.125rem;
  }
  &__item-price{
    position: absolute;
    bottom: 1.0625rem;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    color: #bebebe;
    font-size: 0.875rem;
    line-height: 1rem;
    font-weight: 600;
    @include flex-center;
  }
  .sale{
    position: absolute;
    right: 0.8125rem;
    top: -13px;
    width: 2.8125rem;
    height: 1.375rem;
    background-color: #ea2222;
    color: #fff;
    font-size: 0.6875rem;
    line-height: 0.9375rem;
    font-weight: 700;
    border-radius: 5px;
    @include flex-center;
  }
  .price{
    font-weight: 600;
    font-size: 0.4375rem;
    line-height: 0.5625rem;
    color: #bebebe;
    text-decoration: line-through;
    padding-right: 0.25rem;
  }
  &__app-title{
    font-size: 1.375rem;
    line-height: 2.25rem;
    @extend %pop-600;
    margin-bottom: 1.25rem;
    text-align: center;
  }
  &__app-load{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5.0625rem;
  }
  .bottle{
    max-width: 1.25rem;
  }
}

@media (min-width: map-get($grid-breakpoints, lg)){
  .products{
  padding-bottom: 8.125rem;
  &__inner{
    
  }
  .bottle{
    max-width: 2.625rem;
  }
  &__buttons-item{
    margin-bottom: 0;
    &:not(:last-child){
      margin-right: 1.875rem;
    }
  }
  &__title{
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    font-size: 3.75rem;
    margin: 0 auto 3.75rem;
    max-width: 75rem;
    line-height: 4.75rem;
  }
  &__items{
    position: relative;
    height: 500px;
    margin-bottom: 3.125rem;
  }
  &__items-top{
    overflow: visible;
    width: 100%;
    padding-bottom: 23px;
  }
  &__items-bottom{
    overflow: visible;
    width: 100%;
    position: relative;
    left: -100px;
  }
  &__item{
    display: block;
    margin-right: 1.875rem;
  }
  &__buttons{
    @include flex-center;
    flex-wrap: nowrap;
    padding-bottom: 60px;
  }
  &__btn{
    padding: 0.625rem 2.5rem;
    font-size: 1.625rem;
    border-radius: 0.625rem;
  }
  &__item{
    width: 14.5rem;
    height: 14.5rem;
    background-color: #fff;
    box-shadow: 0px 34px 81px 0px rgba(149, 149, 149, 0.08);
    border-radius: 10px;
    position: relative;
  }
  &__item-content{
    padding-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .blueberries-item{
    &::after,
    &::before{
      content: '';
      position: absolute;
      right: 1.5rem;
      top: 1.25rem;
      background-image: url('../images/products/vegan.png');
      background-repeat: no-repeat;
      width: 1.9375rem;
      height: 1.1875rem;
    }
    &::after{
      background-image: url('../images/products/gluten.png');
      top: 52px;
      width: 1.5625rem;
      height: 1.5625rem;
    }
  }
  .yogurt-item{
    &::after{
      content: '';
      position: absolute;
      width: 1.625rem;
      height: 1.625rem;
      right: 1.1875rem;
      top: 1.0625rem;
      background-image: url('../images/products/dairy.png');
    }
  }
  .bio-item{
    &::after{
      content: '';
      position: absolute;
      width: 2rem;
      height: 1.75rem;
      background-image: url('../images/products/bio.png');
      right:1.5625rem;
      top: 1.125rem;
    }
  }
  &__item-image{
    max-width: 6.25rem;
  }
  
  &__item-price{
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    color: #bebebe;
    font-size: 30px;
    line-height: 2.25rem;
    @include flex-center;
  }
  .sale{
    position: absolute;
    right: 20px;
    top: -20px;
    width: 5rem;
    height: 2.375rem;
    background-color: #ea2222;
    color: #fff;
    font-size: 20px;
    line-height: 27px;
    border-radius: 5px;
    @include flex-center;
  }
  .price{
    font-size: 16px;
    line-height: 1.1875rem;
    color: #bebebe;
    text-decoration: line-through;
    padding-right: 0.6875rem;
  }
  &__app-title{
    font-size: 30px;
    line-height: 2.25rem;
    margin-bottom: 1.25rem;
    text-align: center;
  }
  &__app-load{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
  &__app-link{
    &:first-child{
      margin-right: 1.25rem;
    }
    
  }
}
}

.lage{
  padding-bottom: 7.5rem;
  &__title{
    font-size: 2rem;
  }
  &__buttons{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  &__button{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.625rem;
    &:not(:last-child){
      margin-right: 0.625rem;
    }
  }
  &__btn{
    padding: 0.3125rem 0.8125rem;
    border-radius: 0.3125rem;
    @extend %btn;
    font-size: 1.0625rem;
  }
  &__btn-desc{
    display: none;
  }
  &__map {
    width: 100vw;
    @include center-item-x('relative');
    li {
      height: 35.625rem;
    }

  }
  &__desc{
    font-size: 1.375rem;
    line-height: 2.25rem;
    margin-bottom: 1.875rem;
    p{
      padding-left: 0.625rem;
      @extend %gil-700;
      display: inline;
    }
  }
  &__desc-title{
    display: inline-block;
  }
}

@media (min-width: map-get($grid-breakpoints, lg)){
  .lage{
  padding-bottom: 7.5rem;
  &__title{
    text-align: center;
    margin-bottom: 3.125rem;
    font-size: 3.75rem;
    line-height: 4.875rem;
  }
  &__desc{
    display: none;
  }
  &__buttons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  &__button{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    &:not(:last-child){
      margin-right: 3.125rem;
    }
  }
  &__btn{
    padding: 12px 23px;
    font-size: 1.625rem;
    border-radius: 0.625rem;
  }
  &__btn-desc{
    padding-left: 19px;
    line-height: 36px;
    color: #6b6b6b;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      background-image: url('../images/icons/clock.png');
      width: 12px;
      height: 12px;
      left: 0;
      top: 0.75rem;
    }
  }
  &__map {
    li {
      height: 849px;
    }
  }
}
}

.reviews{
  &__title{
    font-size: 2.125rem;
    line-height: 2.875rem;
    max-width: 16.875rem;
    margin-bottom: 1rem;
  }
  &__slider {

    overflow: visible
  }
  &__inner{
    // height: 900px;
    display: flex;
    align-items: flex-start;
    // flex-direction: column;
    // flex-wrap: wrap;;
  }
  &__item{
    width: 16.875rem;
    padding: 1.875rem;
    border-radius: 0.625rem;
    background-color: #fff;
    margin-right: 1.875rem;
    margin-bottom: 1.875rem;
    box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.04);
  
    &:nth-child(3){
      .reviews__item-text{
        max-width: 11.25rem;
      }
    }
    &-human {
      display: flex;
      align-items: center;
      margin-bottom: 1.25rem;
    }
    &-photo {
      width: 4.5rem;
    }
    &-link {
      img.lazyloaded {
        width: 11.875rem;
      }
    }
  }
  &__item-desc{
    margin-left: 1.3125rem;
  }
  &__item-name{
    margin-bottom: 0.3125rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    @extend %gil-700;
  }
  &__item-rating{
    display: flex;
  }
  .star{
    &:not(:last-child){
      margin-right: 0.25rem;
    }
  }
  &__item-title{
    @extend %gil-700;
    font-size: 1.125rem;
    line-height: 1.5rem;
    margin-bottom: 0.3125rem;
  }
  &__item-text{
    line-height: 1.5625rem;
    margin-bottom: 0.9375rem;
  }
}

@media (min-width: map-get($grid-breakpoints, lg)){
  .reviews{
  &__title{
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 3.75rem;
    line-height: 4.75rem;
    max-width: 100%;
  }
  &__inner{
    height: 900px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  &__item{
    width: 270px;
    padding: 1.875rem;
    border-radius: 10px;
    background-color: #fff;
    margin-right: 1.875rem;
    margin-bottom: 1.875rem;
    &:last-child,
    &:nth-child(7){
      margin-right: 0;
    }
    &:nth-child(3){
      .reviews__item-text{
        max-width: 180px;
      }
    }
  }
  &__item-human{
    display: flex;
    align-items: center;
    margin-bottom: 1.25rem;
  }
  &__item-desc{
    margin-left: 1.3125rem;
  }
  &__item-name{
    margin-bottom: 5px;
    font-size: 20px;
    line-height: 1.75rem;
  }
  &__item-rating{
    display: flex;
  }
  .star{
    &:not(:last-child){
      margin-right: 4px;
    }
  }
  &__item-title{
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 5px;
  }
  &__item-text{
    line-height: 25px;
    margin-bottom: 15px;
  }
}
}

.partners{
  padding-bottom: 3.125rem;
  &__title{
    text-align: center;
    margin-bottom: 1.25rem;
    font-size: 1.625rem;
    line-height: 2.75rem;
  }
  &__inner{
    height: 4.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  &__link{
    &:not(:nth-child(2)){
      margin-bottom: 0.9375rem;
    }
    &-img.lazyloaded{
      width: 7.8125rem;
    }
    &:first-child{
      padding-right: 1.5625rem;
    }
    &:nth-child(2){
      order: 3;
      .partners__link-img.lazyloaded{
        width: 12.1875rem;
      }
    }
    &:last-child{
      order: 2;
      .partners__link-img.lazyloaded{
        width: 4.8125rem;
      }
    }
  }
}

@media (min-width: map-get($grid-breakpoints, lg)){
  .partners{
  padding-bottom: 3.125rem;
  &__title{
    text-align: center;
    margin-bottom: 2.5rem;
    font-size: 3.75rem;
    line-height: 4.75rem;
  }
  &__inner{
    height: 3.4375rem;
  }
  &__link{
    position: relative;
    padding-left: 2.8125rem;
    &-img.lazyloaded {
      width: unset;
    }
    &::before{
      content: '';
      position: absolute;
      height: 47px;
      width: 1px;
      background-color: #dedddc;
      left: 0;
      top:  4px;
    }
    &:nth-child(2){
      &::before{
        top: -11px;
      }
      order: 2;
      .partners__link-img.lazyloaded{
        width: 100%;
      }
    }
    &:first-child{
      padding-right: 0;
      margin-top: 7px;
      padding-left: 0;
      &::before{
        display: none;
      }
    }
    &:not(:last-child){
      margin-right: 2.8125rem;
    }
    &:not(:nth-child(2)){
      margin-bottom: 0;
    }
    &:last-child{
      order: 3;
      .partners__link-img.lazyloaded{
        width: 100%;
      }
    }
  }
}
}

.offer{
  background-color: #fff;
  .container{
    padding-right: 0;
    padding-left: 0;
  }
  &__inner{
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  &__content{
    display: flex;
    align-items: center;
    background-color: $accent;
    padding-top: 2.8125rem;
    padding-bottom: 2.8125rem;
    margin-bottom: 2.1875rem;
  }
  &__content-img{
    display: none;
  }
  &__content-desc{
    @extend %gil-700;
    font-size: 18px;
    line-height: 26px;
    margin-left: 1.875rem;
    color: #fff;
  }
  &__content-title{
    font-size: 26px;
    line-height: 36px;
    @extend %gil-700;
    margin-bottom: 0.3125rem;

  }
  &__content-text{
    max-width: 15.625rem;
    font-size: 1.125rem;
    @extend %gil-400;
    margin-bottom: 0.9375rem;
    span{
      @extend %gil-700;
    }
  }
  &__content-code{
    margin-bottom: 1.25rem;
  }
  &__content-date{
    font-size: 1.125rem;
    line-height: 1.625rem;
    @extend %gil-700;
    text-transform: uppercase;
  }
  &__app-title{
    text-align: center;
    font-size: 1.375rem;
    line-height: 1.875rem;
    max-width: 12.1875rem;
    @extend %pop-600;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1.25rem;
    text-transform: uppercase;
  }
  &__app-load{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__bg{
    position: absolute;
    bottom: 10.625rem;
    right: 0;
    width: 8.25rem;
    height: 9.75rem;
    z-index: 20;
  }
}

@media (min-width: map-get($grid-breakpoints, lg)){
  .offer{
  background-color: #fff;
  .container{
    padding-right: 30px;
    padding-left: 30px;
  }
  &__bg{
    display: none;
  }
  &__content-date{
    display: none;
  }
  &__inner{
    padding: 4.6875rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  &__content-img{
    display: block;
  }
  &__content{
    display: flex;
    align-items: center;
    padding-top:0;
    padding-bottom: 0;
    padding-right: 8.125rem;
    background-color: #fff;
    margin-bottom: 0;
  }
  &__content-desc{
    font-size: 18px;
    line-height: 26px;
    margin-left: 3.125rem;
    color: #2e2e2e;
  }
  &__content-title{
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 0.3125rem;
  }
  &__content-text{
    max-width: 15.625rem;
    margin-bottom: 0.9375rem;
    font-size: 1rem;
  }
  &__content-code{
    margin-bottom: 0;
  }
  &__app-title{
    font-size: 30px;
    line-height: 36px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1.25rem;
    max-width: 100%;
    text-align: left;
  }
  &__app-load{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}
}

.tabs {
  padding: 3.75rem 0;
  &__title{
    text-align: center;
    text-transform: uppercase;
    font-size: 2.125rem;
  }
  &__item{
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding-left: 1.875rem;
    box-shadow: 0px 0px 17px 0 rgba(0, 0, 0, 0.05);

    &:not(:last-child){
      margin-bottom: 1.25rem;
    }
  }
  &__item-title{
    font-size: 1.125rem;
    line-height: 1.625rem;
    padding: 0.9375rem 5rem 0.9375rem 0;
    @extend %gil-500;
    position: relative;
    &::after,
    &::before{
      content: '';
      height: 0.625rem;
      width: 0.125rem;
      background-color: $accent;
      right: 1.25rem;
      border-radius: 5px;
      transition: all .3s;
      position: absolute;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      transform-origin: center center;
    }
    &::after{
      right: 1.625rem;
      transform: translateY(-50%) rotate(-45deg);
    }
    &[aria-expanded=true]{
      &::after{
        transform: translateY(-50%) rotate(45deg);
      }
      &::before{
        transform: translateY(-50%) rotate(-45deg);
      }
    }
  }
  &__item-content{
    padding-bottom: 2.5rem;
  }
  &__item-text{
    max-width: 49.375rem;
    font-size: 18px;
    line-height: 26px;
    padding-right: 0.9375rem;
  }
}

@media (min-width: map-get($grid-breakpoints, lg)){
  .tabs{
  padding: 8.75rem 0;
  &__title{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
    font-size: 3.75rem;
    line-height: 4.75rem;
  }
  &__item{
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding-left: 2.9375rem;
    &:not(:last-child){
      margin-bottom: 1.25rem;
    }
  }
  &__item-title{
    font-size: 26px;
    line-height: 65px;
    padding: 15px 0;
    position: relative;
    max-width: 100%;
    &::after,
    &::before{
      height: 15px;
      width: 3px;
      right: 41px;
    }
    &::after{
      right: 50px;
    }
    &.tabs__item-title--active{
      &::after{
      }
      &::before{
      }
    }
  }
  &__item-content{
    padding-bottom: 2.5rem;
  }
  &__item-text{
    max-width: 49.375rem;
    font-size: 18px;
    line-height: 26px;
    padding-right: 0;
  }
}
}

.footer{
  padding: 2.1875rem 0;
  background-color: #fff;
  &__top{
    display: none;
  }
  &__top-list{
    &:nth-child(2){
      padding-left: 1.5625rem;
    }
  }
  &__top-list-item{
    margin-bottom: 0.625rem;
    display: flex;
  }
  &__top-list-title{
    font-size: 1.375rem;
      @extend %pop-600;
      margin-bottom: 0.9375rem;
  }
  &__top-list-row{
    display: flex;
  }
  &__top-title{
    font-size: 1.375rem;
    @extend %pop-600;
    margin-bottom: 0.9375rem;
  }
  &__top-list-link{
    font-weight: 400;
    font-size: 1.125rem;
    color: #2e2e2e;
    display: block;
  }
  &__bottom-social-link{
    
  }
  .google-play.lazyloaded{
    width: 10.9375rem;
  }
  .app-store.lazyloaded{
    width: 9.6875rem;
  }
  &__bottom-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__bottom-social{
    display: flex;
    margin-bottom: 1.875rem;
  }
  &__bottom-social-item{
    &:not(:last-child){
      margin-right: 1.25rem;
    }
  }
  &__bottom-lang{
    display: none;
  }
  &__bottom-lang,
  &__bottom-time{
    padding-left: 0;
  }
  &__bottom-lang-link{
    font-size: 1.25rem;
    font-weight: 700;
    color: #2e2e2e;
    &:not(:last-child){
      margin-right: 0.9375rem;
    }
  }
  &__bottom-time{
    p{
      display: block;
    }
  }
  &__bottom-time-title{
    display: block;
    font-size: 1.25rem;
    font-weight: 700;
  }
  &__bottom-mail{
    display: block;
    text-align: center;
    font-weight: 700;
    color: #2e2e2e;
    text-decoration: underline;
    margin-bottom: 1.875rem;
  }
  &__bottom-text{
    text-align: center;
  }
  &__bottom-time{
    text-align: center;
  }
  &__bottom-link{
    text-align: center;
    display: block;
    margin-bottom: 0.3125rem;
  }
}

@media (min-width: map-get($grid-breakpoints, lg)){
  .footer{
  padding: 35px 0;
  background-color: #fff;
  &__top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5rem;
  }
  &__top-list{
    &:nth-child(2){
      padding-left: 1.5625rem;
    }
  }
  &__top-list-item{
    margin-bottom: 0.625rem;
    display: flex;
  }
  &__top-list-title{
    font-size: 22px;
    margin-bottom: 0.9375rem;
  }
  &__top-list-row{
    display: flex;
  }
  &__top-title{
    font-size: 22px;
    margin-bottom: 0.9375rem;
  }
  &__top-list-link{
    font-size: 18px;
    color: #2e2e2e;
    display: block;
    transition: $transition--hover;
    &:hover {
      color: link-hover($accent);
    }
  }
  &__bottom-social-link{
    
  }
  .google-play.lazyloaded{
  }
  .app-store.lazyloaded{
  }
  &__bottom-inner{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__bottom-social{
    display: flex;
    margin-bottom: 0;
  }
  &__bottom-social-item{
    &:not(:last-child){
      margin-right: 1.25rem;
    }
  }
  &__bottom-lang{
    display: block;
  }
  &__bottom-lang,
  &__bottom-time{
    padding-left: 7.5rem;
  }
  &__bottom-time{
    text-align: left;
  }
  &__bottom-lang-link{
    font-size: 20px;
    color: #2e2e2e;
    &:not(:last-child){
      margin-right: 0.9375rem;
    } 
    transition: $transition--hover;
    &:hover {
      color: link-hover($accent);
    }
  }
  &__bottom-time{
    p{
      padding-left: 15px;
      display: inline;
    }
  }
  &__bottom-time-title{
    display: inline-block;
    font-size: 20px;
  }
  &__bottom-mail{
    display: block;
    text-align: right;
    color: #2e2e2e;
    text-decoration: underline;
    margin-bottom: 5px;
  }
  &__bottom-text{
    text-align: left;
  }
  &__bottom-link{
    display: none;
  }
}
}